.hero-back{
    height: 70vh;
    width: 100vw;
    /* background-image: url("./desktop-wallpaper-brain-imagination-background-brain-art.jpg");
    background-position: center;
    background-size: cover; */
    
    opacity: 0.5;

}